<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <div class="container mt-3 mb-3">
        <div class="row">
            <!-- Sidebar with profile info and links for md screens and up -->
            <div class="col-12 col-md-4 text-center profile-sidebar">
                <img src="{{ 'assets/images/profile_pic_matteo.jpeg' | relative_url }}" alt="Matteo Tadiello" class="rounded-circle img-fluid mb-3">
                <h2>Matteo Tadiello</h2>
                <p>Personal Website of Matteo Tadiello</p>
                <ul class="nav-links d-block">
                    {% for link in site.data.links %}
                    <li><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
                ===============
                <ul class="contact-info">
                    <li><i class="fas fa-envelope"></i> - <a href="mailto:tadiellomatteo@gmail.com">tadiellomatteo@gmail.com</a></li>
                    <li><i class="fab fa-github"></i> - <a href="https://github.com/tadteo">tadteo</a></li>
                    <li><i class="fab fa-linkedin"></i> - <a href="https://www.linkedin.com/in/matteo-tadiello">matteo-tadiello</a></li>
                </ul>        
            </div>
            
            <!-- Main content area for all screens -->
            <div class="col-12 col-md-8">
                {{ content }}
                <canvas id="lifeCanvas"></canvas>

            </div>
            
        </div>
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        const canvas = document.getElementById('lifeCanvas');
        const ctx = canvas.getContext('2d');

        function resizeCanvas() {
            const parent = canvas.parentElement;
            const rect = parent.getBoundingClientRect();
            canvas.width = rect.width-15;
            // Set a fixed height or make it responsive based on your design
            canvas.height = 250; // Or set to a specific value

            
        }

        resizeCanvas();
        window.addEventListener('resize', resizeCanvas);

        const resolution = 10; // Adjust this value if you want different cell sizes
        const cols = Math.floor(canvas.width / resolution);
        const rows = Math.floor(canvas.height / resolution);

        let grid = buildGrid();

        function buildGrid() {
            return new Array(cols).fill(null)
                .map(() => new Array(rows).fill(null)
                .map(() => Math.floor(Math.random() * 2)));
        }

        function drawGrid() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            for (let col = 0; col < grid.length; col++) {
                for (let row = 0; row < grid[col].length; row++) {
                    const cell = grid[col][row];
                    ctx.beginPath();
                    ctx.rect(col * 10, row * 10, 10, 10);
                    ctx.fillStyle = cell ? '#76ABA8' : '#222831';
                    ctx.fill();
                }
            }
        }

        function nextGenGrid(grid) {
            const nextGen = grid.map(arr => [...arr]);
            for (let col = 0; col < grid.length; col++) {
                for (let row = 0; row < grid[col].length; row++) {
                    const cell = grid[col][row];
                    let numNeighbors = 0;
                    for (let i = -1; i < 2; i++) {
                        for (let j = -1; j < 2; j++) {
                            if (i === 0 && j === 0) continue;
                            // Calculate x and y positions with wrap-around
                            const x_cell = (col + i + cols) % cols;
                            const y_cell = (row + j + rows) % rows;
                            // Add the neighbor's state to the total
                            numNeighbors += grid[x_cell][y_cell];
                        }
                    }
                    // The rules of life
                    if (cell === 1 && numNeighbors < 2) {
                        nextGen[col][row] = 0;
                    } else if (cell === 1 && numNeighbors > 3) {
                        nextGen[col][row] = 0;
                    } else if (cell === 0 && numNeighbors === 3) {
                        nextGen[col][row] = 1;
                    }
                }
            }
            return nextGen;
        }
        

        function update() {
            grid = nextGenGrid(grid);
            drawGrid();
        
            // Randomly add a glider with a 1% chance on each update
            if (Math.random() < 0.01) {
                addRandomGlider();
            }
        
            // Use setTimeout to control the frequency of updates
            setTimeout(update, 150); // Adjust the delay as needed, 100ms here
        }
        
        function addRandomGlider() {
            // Define a simple glider pattern
            const glider = [
                [0, 1, 0],
                [0, 0, 1],
                [1, 1, 1]
            ];
        
            // Choose a random position for the glider that ensures it fits in the grid
            const x = Math.floor(Math.random() * (cols - 3));
            const y = Math.floor(Math.random() * (rows - 3));
        
            // Place the glider on the grid
            for (let i = 0; i < glider.length; i++) {
                for (let j = 0; j < glider[i].length; j++) {
                    grid[x + i][y + j] = glider[i][j];
                }
            }
        }
        

        // Ensure there's a glider in the initial state
        grid[1][0] = 1;
        grid[2][1] = 1;
        grid[0][2] = grid[1][2] = grid[2][2] = 1;

        update();
    </script>
    

    
</body>
</html>

