<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
    <div class="container mt-3 mb-3">
        <div class="row">
            <!-- Sidebar with profile info and links for md screens and up -->
            <div class="col-12 col-md-4 text-center profile-sidebar">
                <img src="{{ 'assets/images/profile_pic_matteo.jpeg' | relative_url }}" alt="Matteo Tadiello" class="rounded-circle img-fluid mb-3">
                <h2>Matteo Tadiello</h2>
                <p>Personal Website of Matteo Tadiello</p>
                <ul class="nav-links d-block">
                    {% for link in site.data.links %}
                    <li><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>          
            </div>
            
            <!-- Main content area for all screens -->
            <div class="col-12 col-md-8">
                {{ content }}
                <ul class="contact-info">
                    <li><b>Email:</b> <a href="mailto:tadiellomatteo@gmail.com">tadiellomatteo@gmail.com</a></li>
                    <li><b>GitHub:</b> <a href="https://github.com/tadteo">tadteo</a></li>
                    <li><b>LinkedIn:</b> <a href="https://www.linkedin.com/in/matteo-tadiello">matteo-tadiello</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

