<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <!-- include Bootstrap, color palette, and main CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
</head>
<body>
    <div class="container-fluid">
    <div class="row">
        <!-- Sidebar with modular links -->
        <div class="col-md-4 profile-sidebar">
            <img src="{{ '/assets/images/profile_pic_matteo.jpeg' | prepend: site.baseurl }}" alt="Matteo Tadiello">
            <h2>Matteo Tadiello</h2>
            <p>Personal Website of Matteo Tadiello</p>
            <ul class="nav-links">
                {% for link in site.data.links %}
                <li><a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>          
        </div>
        <!-- Main content area -->
        <div class="col-md-8">
        {{ content }}
        </div>
    </div>
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
